/* Coded by me, Eva Verkade. Most of this is taken over by the prism library, but i still use the output formatting.*/

.code_block {
	background-color: #eee;
	/*border: 1px solid #999;*/
	display: block;
	padding: 0px 10px;
	margin: 10px;
	border-left: 4px solid #d4d4d4;
	font-family: Monaco, Consolas, 'Courier New', Courier, monospace;
	font-size: 80%;
	text-align: left;
	margin-left: 0;
	margin-right: auto;
}
.code_output {
	display: block;
	margin: 10px;
	font-family: Monaco, Consolas, 'Courier New', Courier, monospace;
	font-size: 80%;
	margin-left: 0;
	margin-right: auto;
	overflow-x: scroll;
}

.code_output > img {
	overflow-x: scroll;
}

.inner_output {
	border: 1px solid #eee;
	border-left: 4px solid #d4d4d4;
	display: inline-block;
	padding: 5px 10px;
	font-family: Monaco, Consolas, 'Courier New', Courier, monospace;
	font-size: 90%;
}
.code_comment {
	color: #20685a;
}
